@font-face {
    font-family:"flowers";
    src: url(../font/Austie\ Bost\ You\ Wear\ Flowers\ Solid.ttf);
    font-weight: normal;
    /* Adds a custom font*/
}

@font-face {
    font-family:"kberry";
    src: url(../font/kberry.ttf);
}

@font-face {
    font-family: "chantelli_antiqua";
    src: url(../font/Chantelli_Antiqua.ttf);
}