*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Desktop menu styling */
nav.hamburger-menu {
    @include hamburger-menu;
    display: flex;
    justify-content: space-between;
    align-items: center;
  

    /* Logo (desktop) */
    .logo {
        @include logo-text;
        font-size: clamp(1.5rem, 4vw, 2rem); /* Scalable font for the logo */
        flex: 1;
    }

    /* Menu items (desktop) */
    ul#menu {
        display: flex;
        gap: clamp(20px, 2vw, 30px); /* Scalable gap between menu items */
        list-style: none;
        justify-content: flex-start;
        align-items: flex-start;
        padding: clamp(1rem, 2vw, 2rem); /* Scalable padding for the menu */

        li {
            list-style: none;
        }

        /* Increase specificity for menu items */
        li a.menuvoice {
            @include link;
            font-size: clamp(1rem, 2.5vw, 1.1rem); /* Scalable font for menu items */
            font-weight: 600;
            transition: color 0.25s ease; /* Transition effect for color change */
        }
    }
}

/* Mobile menu */
@media (max-width: 768px) {
    nav.hamburger-menu {
        .logo {
          @include hide-on-mobile;
        }

        /* Open menu button */
        .open-menu {
            position: fixed;
            top: clamp(2rem, 4vw, 2.5rem); /* Scalable height from the top margin */
            left: 30px;
            width: clamp(25px, 5vw, 30px); /* Scalable width for the button */
            height: clamp(25px, 5vw, 30px); /* Scalable height for the button */
            cursor: pointer;
            z-index: 10;

            > span,
            ::before,
            ::after {
              @include hamburger-bar;
            }

            ::before {
                content: "";
                top: -8px;
            }

            ::after {
                content: "";
                top: 8px;
            }
        }

        /* Close menu button */
        .close-menu {
            position: fixed;
            top: clamp(2rem, 4vw, 2.5rem); /* Scalable height from the top margin */
            left: 30px;
            width: clamp(25px, 5vw, 30px); /* Scalable width for the button */
            height: clamp(25px, 5vw, 30px); /* Scalable height for the button */
            cursor: pointer;
            z-index: 10;
            display: none; /* Initially hidden */

            > span,
            ::before,
            ::after {
              @include hamburger-bar;
            }

            ::before {
                content: "";
                top: -8px;
            }

            ::after {
                content: "";
                top: 8px;
            }
        }

        /* Menu (mobile) */
        #menu {
            position: fixed;
            top: 0;
            left: -100%;
            width: 80%;
            height: 100%;
            padding: clamp(20px, 4vw, 40px); /* Scalable padding */
            background-color: $bgmenu;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.342);
            transition-duration: 0.25s;
            display: flex;
            flex-direction: column;
            justify-content: flex-start; /* Align menu items to the start */
            align-items: flex-start;
            z-index: 5; /* Set z-index value to avoid conflicts with other elements */
        }

        /* Menu items */
        .menuvoice {
            display: block;
            padding: clamp(20px, 2vw, 22px) clamp(30px, 5vw, 36px); /* Scalable padding between items */
            margin-top: clamp(40px, 5vw, 50px); /* Increased margin between the X and menu items */
            color: $colorGenFont;
            font-size: clamp(0.9rem, 4vw, 1rem); /* Scalable font for menu items */
            font-weight: 600;
            transition-duration: 0.25s;
            width: 100%; /* Set to 100% to stretch menu items uniformly */

            &:hover {
                color: $l_Style !important;
            }
        }

        /* Hamburger menu toggling */
        &:target {
            .open-menu {
                display: none;
            }

            .close-menu {
                display: block;
            }

            .close-menu > span {
                transform: rotate(45deg);
                background-color: $colorHeading;
            }

            .close-menu > span::before {
                top: 0;
                transform: rotate(0deg);
                background-color: $colorHeading;
            }

            .close-menu > span::after {
                top: 0;
                transform: rotate(90deg);
                background-color: $colorHeading;
            }

            #menu {
                left: 0 !important;
            }
        }
    }
}

