.projects {
    padding: 2rem;
}

.myProject {
    display: flex;
    flex-wrap: nowrap; /* Projects should not wrap to the next line */
    gap: 2rem; /* Space between elements */
    justify-content: space-between; /* Distributes items horizontally but does not wrap */
    align-items: center; /* Vertically centers the projects */
}

.p-title {
    display: flex;
    flex-direction: column; /* Places the title above and the image below */
    align-items: center; /* Centers content horizontally */
    width: clamp(200px, 20vw, 250px); /* Scalable width */
    text-align: center; /* Centers the text */
    margin-bottom: 1.5rem;

    a {
       @include link; 
    }
    
    h3 {
        font-size: clamp(1rem, 2vw, 1.5rem); /* Scalable title */
        margin: 0.5rem 0;
        font-family: $fontHeading;
    }

    img {
        width: clamp(100px, 12vw, 150px); /* Scalable reduced image */
        height: auto; /* Maintains aspect ratio */
        border-radius: 10px; /* Rounded corners */
    }
}

@media (max-width: 768px) {
    .projects .myProject {
        justify-content: center; /* Centers projects on small screens */
        flex-direction: column; /* Stacks projects vertically on small screens */
        align-items: center; /* Vertically centers the projects */
    }
}
