.projects {
    padding: 2rem;

    .myProject {
        display: flex;
        flex-direction: column; // Stack project items vertically
        gap: 2rem; // Space between each project

        .p-title {
            display: flex; // Flex container for title, image and description
            align-items: flex-start; // Align items at the start
            gap: 1rem; // Space between items

            h3 {
                @include clamp-font(1rem, 2.5vw, 1.5rem); // Responsive font size for project title
                margin: 0; // Reset margin
                width: 100%; // Ensure title takes full width
                font-family: $fontHeading;
                color: $Color_Font;
            }

            img {
                max-width: 150px; // Fixed width for images
                height: auto; // Maintain aspect ratio
                border-radius: 10px; // Rounded corners
            }

            p {
                @include clamp-font(1rem, 1.5vw, 1.25rem); // Responsive font size for project description
                flex-grow: 1; // Allow description to take remaining space
                text-align: justify; 
                margin: 0; // Reset margin
                color: $colorGenFont; // Use your color variable
                letter-spacing: 1px;
            }
        }
    }
}

@media (max-width: 768px) {
    .projects .myProject {
        .p-title {
            flex-direction: column; // Stack title, image, and description vertically on small screens
            align-items: center; // Center align items
            
            img {
                max-width: 100%; // Allow image to take full width on small screens
            }
        }
    }
}
