//General color and size

$mainBg: rgb(7, 44, 7);
$colorHeading: white;
$sizeHeading: 3vw;
$sizeProject: 1.5vw;
$colorGenFont: antiquewhite;
$fontHeading: "chantelli_antiqua";
$l_Style: #f39c12;

//menu

$bgmenu: rgb(19, 98, 98);
$fontLogo: "flowers";
$Color_Font: #ffffff;

//cover
$sizeLogo: 5vw;
$sizeSubLogo: 3vw;
$fontSubLogo: "kberry";

//form
$bgForm: rgba(19, 98, 98, 0.607);

//btn
$btn_color: rgba(3, 37, 3, 0.768);
$btn_hover: rgba(19, 98, 98, 0.859);

//footer
$bgfooter:rgb(19, 98, 98);
