// Importing necessary SCSS modules
@import "font"; 
@import "variables"; 
@import "mixin"; 
@import "menu"; 
@import "cover"; 
@import "project";
@import "project_detail";
@import "aboutme"; 
@import "contact"; 
@import "footer"; 

// Universal selector to apply box-sizing
* {
    box-sizing: border-box; // Ensures padding and borders are included in element's total width and height
}

// Body styling
body {
    background-color: $mainBg; // Sets the main background color for the page
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column; // Sets vertical orientation
    min-height: 100vh; // Ensures the body occupies the full height of the viewport
    margin: 0; // Removes the default margin
    
    main {
        flex: 1; // Ensures the content occupies available space
    }
}

// Flex container for general content layout
.content-flex {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    margin: auto; 
}

// Styling for h2 headings
h2 {
    color: $colorHeading; 
    font-family: $fontHeading; 
    text-align: center; 
    @include clamp-size(1.5rem, 3vw, 2rem); 
    @include margin-h2(4rem, 3rem); 
    letter-spacing: 2px; 
}

//styling for the section dividers
svg {
    width: 10%;  
    height: auto; 
    display: block;
    margin: 20vh auto; 
}

